.pic-buildings{
    background-image: url('https://plus.unsplash.com/premium_photo-1677228571709-519f0d5153f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80');
    background-position:center;
    background-repeat: no-repeat;
}
