*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Lato",'Arial',sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.title-page-header h1{
    font-size:2em;
    text-align: center;
}

.title-subtitle{
    text-align: center;
}

/*Config for width sections!*/

.pic-section, .login-section{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Config section with img*/
.pic-section{
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-blend-mode: color-burn;
    background-color: rebeccapurple;
}


/*Config for image in login-section!*/
.login-section{
    background-color: rgba(128, 128, 128, 0.137);
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

/*Config form form login-section*/
.form-login{
    background-color: rgba(88, 88, 88, 0.252);
    border:solid black  0 0 0.1rem ;
    padding: 1rem;
    margin: 15rem 0;
    border-radius: 12.5%;
}

.form-login .margin-field{
    margin:0.5em 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.form-login input{
    height: 2rem;
    width: 100%;
}

.form-login label{
    font-weight: bold;
    font-size: 1rem;
    color: black;
}

.form-login input{
    padding: 0 0.5rem;
    height: 2.5rem;
}

.submit-form-button{
    width: 100%;
    height: 3rem;
}


/*
    Config for margin's of content inside sections!
*/

.title-page-header{
    position: relative;
    bottom: -1.5rem;
}

.title-page-header h1{
    color: white;
}

.title-subtitle
{
    color: white;
    font-weight: bold;
    position: relative;
    bottom:-3rem;
    right: 0%;
    left: 0%;
}
