.draw-border{
    border: 1px solid black;
}
main{
    display: flex;
    flex-direction: row;
}
.pic-section,.login-section
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    width: 50%;
}

.title-page-header{
    width:100%;
}